{% extends 'base.html.twig' %}
{% block headline %}<h1 style="margin:auto; padding-bottom:1%">Lista dostępnych produktów</h1>{% endblock headline %}
{% block body %}
    <table>
        {% for product in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.currency }}</td>
                <td>{{ product.createdAt | date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a style="font-style: italic; font-weight: bold" href="{{ url('new_product') }}">Dodaj nowy produkt</a>

{% endblock body %}
